[Unit]
Description=Node Exporter
After=network.target

[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart=/usr/local/bin/node_exporter-1.2.2.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target